/* Roots */
:root {
    --blue-header: #3161E0;
    --black: #23272A;
    --cyan: #8EA1E1;
    --blue-text: #7289DA;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilis */
.container {
    width: 1200px;
    margin: 0 auto;
}